<table class="table table-striped table table-bordered">
    <thead class="text-center">
      <tr  >
        <th class="p-3 mb-2 bg-info text-black">userID</th>
        <th class="p-3 mb-2 bg-info text-black">ID</th>
        <th class="p-3 mb-2 bg-info text-black" >title</th>
        <th class="p-3 mb-2 bg-info text-black">body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td>{{item.userId}}</td>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
      </tr>
    
    </tbody>
  </table>
